html {
    scroll-behavior: smooth;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --light-gray: #f0f0f0;
    --gray: #a0a0a0;
    --dark-gray: #505050;

    --dark-gradient: rgba(27, 28, 33, 1);
    --dark-gradient2: rgb(21, 22, 26);
    --light-gradient: rgba(63, 64, 68, 1);
}

html,
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-size: 20px;
    background-color: var(--dark-gradient);
    color: white;
}

nav {
    /* border: solid 3px red; */
    /* border: solid 3px var(--dark-gray); */

    height: 80px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    /* background-color: black; */
}

nav ul {
    display: flex;
    gap: 15px;
}

nav li {
    list-style: none;
    transition: transform 0.2s;
}

nav a {
    text-decoration: none;
    color: black;
    color: var(--white);
}

nav li:hover {
    /* transition: scale(3); */
    /* scale: 3; */
    transform: scale(1.1);
}

.nav-logo {
    width: 60px;
    height: 60px;
}

header {
    /* border: solid 3px red; */

    /* background-color: var(--black); */

    /* background: rgb(105, 103, 115);
    background: radial-gradient(circle, rgba(105, 103, 115, 1) 0%, rgba(54, 57, 70, 1) 85%); */

    /* background: rgb(71, 74, 81);
    background: radial-gradient(circle, rgba(71, 74, 81, 1) 0%, rgba(30, 33, 38, 1) 85%); */

    /* background: rgb(63, 64, 68); */
    background: radial-gradient(circle at 50% 0%, rgba(63, 64, 68, 1) 0%, rgba(27, 28, 33, 1) 70%);

    color: white;

    min-height: 80vh;

    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.full-name {
    height: 100px;
}

.heading {
    display: flex;
    justify-content: center;
}

.branding-container {
    /* border: solid 3px green; */

    display: flex;
    flex-wrap: wrap;

    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 15px;
    justify-content: center;
    padding: 15px;
    /* width: 100%; */

    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.title,
.logo {
    height: 300px;
    width: 300px;
    /* border: solid 3px green; */

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    flex-direction: column;
}

.header-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

footer {
    /* border: solid 3px red; */
    border: solid 3px var(--dark-gray);
    background-color: var(--dark-gray);
    border: solid 3px var(--light-gradient2);
    background-color: var(--dark-gradient2);
    font-size: 12px;
    color: rgb(187, 187, 187);

    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.featured-container {
    height: 50vh;
    /* border: solid 3px blue; */
}

.item-grid {
    /* border: solid 3px palevioletred; */

    display: flex;
    flex-wrap: wrap;

    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 15px;
    justify-content: center;
    padding: 15px;
    /* width: 100%; */

    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.products {
    background-color: white;
    color: var(--black);
}

.item {
    /* border: solid 3px lime; */
    border: solid 1px black;
    border: solid 1px var(--light-gray);
    border-radius: 8px;

    background-color: var(--light-gray);

    box-shadow: 0 1px 5px 0 black;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 200px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-around;
    /* align-items: center; */
}

.item-image {
    /* border: solid 1px gray; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
    margin: auto;
    height: 100px;
    height: 85%;
    width: 100px;
    width: 100%;
}

.item-name {
    /* border: solid 1px gray; */
}

.item-price {
    /* border: solid 1px gray; */
    /* font: bold; */
    font-weight: bold;
}

.h-line {
    width: 50%;
}

.featured-line {
    width: 50%;
    display: flex;
    margin-top: 0px;
    height: 0px;
    border: solid 1px var(--light-gradient);
}
